<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>
    <div style="background-color: #ffffff">
      <h2>
        Working timetable, {{getMonthStringByDate month}} {{getYearBydate
        month}}.
      </h2>

      <div>
        <div style="color: #78829c; float: left; margin-bottom: 24px">
          Schedule for {{user.firstName}} {{user.lastName}}
        </div>
        <div style="float: right; margin-bottom: 24px">Via-sales.de</div>
      </div>

      <table
        style="
          width: 100% !important;
          border: 1px solid #e2e6f6;
          border-collapse: collapse;
        "
      >
        <tr style="color: #78829c; background: #f8f8f8">
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Mon
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Tue
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Wed
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Thu
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Fri
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Sat
          </th>
          <th
            style="
              padding: 15px 6px;
              text-align: left;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            Sun
          </th>
        </tr>
        {{#each data}}
        <tr>
          {{#each days}}
          <td
            style="
              padding: 13.5px 6px;
              border: 1px solid #e2e6f6;
              border-collapse: collapse;
            "
          >
            {{#if isMainMonth}}
            <div>
              <div style="float: left">
                {{#if timeBlock}} {{timeBlock.blockType}} {{#if shop}}<span
                  style="color: #78829c; margin-left: 4px"
                  >{{shop.name}}</span
                >
                {{/if}} {{else}} {{#if timeBlockType}} {{timeBlockType}}
                {{else}} - {{/if}} {{#if shop}}<span
                  style="color: #78829c; margin-left: 4px"
                  >{{shop.name}}</span
                >
                {{/if}} {{/if}}
              </div>

              <div style="float: right">{{getDayByDate date}}</div>
            </div>
            {{else}}
            <div style="color: #e2e6f6">
              <div style="float: left">
                {{getMonthStringByDate date}} {{getDayByDate date}}
              </div>
            </div>
            {{/if}}
          </td>
          {{/each}}
        </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>